
/* There are no copyrights.
Just please dont sue me AOL. ;) */
*{
	margin: 0;
	padding: 0;
}

body{
	background-color: white;
}

#menu{
	width: auto;
	height: 100px;
	background-color: #007C84;
	left: 0;
	right: 0;
	background-size: auto;
	margin: 0px;
	justify-content: center;
	flex-direction: column;
}

#wrapper {
    width: auto;
	flex-wrap: wrap;
	padding-left: 20px;
	padding-right: 20px;
	background-color: white;
	background-size: 100%;
}

#main{
	background-color: white;
	width: auto;
	height: auto;
	padding: 20px;
}

#footer{
	width: auto;
	background-color: #007c84;
	height: 50px;
	left: 0;
	right: 0;
	background-size: auto;
	margin: 0px;
	padding-left: 10px;
	padding-top: 5px;
}

.img { 
    max-width: 100%; 
    height: auto;
	align-self: center;
}

#image{
	align-self: center;
	align-content: center;
	align-items: center;
	text-align: center;
	vertical-align: middle;
}
